html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #1a1a1a;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2A7B9B;
  padding: 0.5rem 1rem;
  position:fixed;
  top:0;
  width:100%;
  z-index:999;
  background: transparent;
}
.logo {
  height: 60px;
  width:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:30px;
  
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-right: 20px;


  transition:background 0.3 ease , transform 0.2 ease;
}

.nav-list li a:hover{
  transition: 0.4s;
  box-shadow: white 0px 0px 70px;
  /* text-shadow:white 0px 0px 70px ; */
}

.login {
            text-decoration: none;
            z-index: 2;
            margin: 20px 0px;
            background: transparent;
            border:1px solid rgb(252, 243, 243) ;
            color: #f4f3f3;
            padding: 10px 25px;
            border-radius: 50px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            cursor: pointer;
            transition: all 0.3s ease;
            text-transform: uppercase;
            border: 1px solid rgb(255, 255, 255);
            margin-right: 30px;
        }

        
        .login:hover {
            background: #fff;
            color: #000;
            transform: scale(1.1);
            /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); */
            border-radius:50px;
        }

         .section1 video{
  
  /* margin-top: 20px; */
  width:100%;
/* height: 700px; */


}


/* .div1 h1{
  margin-top:210px;
  margin-left:80px;
}
.div1 p{
  margin-top:30px;
  margin-left:90px;
  font-size:17px;
  
}


.div1 a {
  text-decoration: none;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 8px 20px;
  margin: 0 10px;         
  display: inline-block;   
  transition: background 0.3s ease, transform 0.2s ease;
}

.div1 a:hover {
  background: white;
  color: black;
  transform: translateY(-2px);
} */
.section2{
  background: #1a1a1a;
 
}
.section2 video{

  margin-top: 20px;
  width:100%;
height: 700px;
}
.section2 p{
  color:white;
  margin-left:70px;
  margin-top:30px;
  font-family: sans-serif;

}
section h2{
  color:white;
  margin-left:70px;
  margin-top:20px;
  initial-letter: 1px;
  font-family:sans-serif;
  
}
.section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  gap: 3rem;
  background-color: #1a1a1a; 
  color: white;
}

.text {
  flex: 1;
  max-width: 50%;
  font-family: 'BMW Type Next', sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
}

.text h3 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 1.5rem;
 
}
.text p{
  margin-top:20px;
}

.image1 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image1 img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.section4{
   display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  gap: 3rem;
  background-color: #1a1a1a; 
  color: white;
}
.text2{
  color:white;
  font-family: 'BMW Type Next', sans-serif;
  margin-left:70px;
  margin-right:80px;
  font-size:  16px;
  font-weight:500;
  margin-bottom:1.5rem;
  line-height:25px;
  
}
.section5{
   width: 100%;
  padding: 60px;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  color: white;
}
.image2 img{
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
  object-fit: cover;

}
.text3 {
  max-width: 600px;
}

.text3 h2 {
  font-size: 32px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.text3 p {
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.9;
}
@media (max-width: 992px) {
  .bmw-section {
    flex-direction: column;
    text-align: center;
  }
}
.section7 h1{
  color:#f4f3f3;
  text-align: center;
  font-weight:600;
  font-size:50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top:100px;
  margin-bottom:50px;
  letter-spacing:2px;
}
.car-container {
            display: flex;
            background: #1a1a1a;
            grid-template-columns:   repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto; 
            padding: 0 20px;
            margin-bottom: 80px;
            /* height:200px; */
        }
         /* .car-container img {
	        -webkit-transform: scale(1.5);
	        transform: scale(1.5);
	        -webkit-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;
            }
      .car-container:hover img {
	      -webkit-transform: scale(1);
	      transform: scale(1);
        } */

        
        .car {
            flex:1;
            border: 1px solid rgb(12, 13, 16);
            background-color: #1a1a1a;
            border-radius: 10px;
            box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden; 
            padding-bottom: 20px;
            transition: transform 0.2s ease;
        }



.car img {
	width: 500px;
	height:auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.car:hover img {
	width: 300px;
}
.car-text a{
  text-decoration: none;
  color:rgb(5, 4, 4);
  font-size: large;
  background-color: rgb(255, 255, 255);
  margin-left:30px;
  border-radius: 5px;

}    
.car-text a:hover{
  pointer-events: none;
}


.section8 video{
  
  margin-top: 20px;
  margin-left:0px ;
  margin-right: 0px;
  width:100%;
height: 700px;
}

 .section9{
  background-color:#1a1a1a ;
  color:white;
  padding:50px 80px;
  font-family:Arial, Helvetica, sans-serif;
  height:610px;
}
.footer-container{
  display:flex;
  justify-content: flex-start;
  gap:130px;
  flex-wrap: wrap;
  margin-left:40px;
}
.contact-container h3{
  font-size:20px;
  margin-bottom:20px;
  font-weight:bold;
  color:red;
}
.contact-container ul{
  list-style:none;
  margin:0;
  padding:0;
}
.contact-container ul li{
  margin-bottom:14px;
}
.contact-container ul li a{
  text-decoration: none;
  color:#fffcfc;
  font-size:14px;
}
.contact-container ul li a:hover{
  color:#e22020;
}
.finish-container{
  border-top:1px solid #ddd;
  margin-top:40px;
  padding-top:20px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size:14px;
  color:white;
  
}


.social-section {
  margin-top: 35px;
  text-align: center;
  height:150px;
}

.social-section h3 {
  margin-bottom: 12px;
  font-size: 22px;
  color:white;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  background: rgba(172, 108, 108, 0.1);
  padding: 10px 16px;
  border-radius: 10px;
  transition: 0.3s ease;
  font-size: 14px;
  text-transform: capitalize;
}

.social-icons a:hover {
  background: #f41a2c;
  transform: translateY(-4px);
}